header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    font-size : 2em;
    margin: 10px 0px;
}

header p {
    margin: 10px 0px;
    font-style: italic;
}

footer button {
    margin: 5px;
}